[submodule "src/components/Chat"]
	path = src/components/Chat
	url = https://github.com/yourname/chat-component

[submodule "src/components/File"]
	path = src/components/File
	url = https://github.com/yourname/file-manager-component

[submodule "src/test/src/server/chatServer"]
	path = src/test/src/server/chatServer
	url = https://github.com/yourname/chat-server-module

[submodule "src/test/src/server/FileServer"]
	path = src/test/src/server/FileServer
	url = https://github.com/yourname/file-server-module